@import url('https://fonts.googleapis.com/css2?family=Mukta+Vaani&display=swap');

@font-face {
  font-family: 'MuktaVaani';
  src: url('./assets/fonts/MuktaVaaniBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


.text-special {
    font-size: 50px;        
    font-weight: 700;          
    color: #fdff6f;           
    margin-bottom: 0 ;  
    font-family:'MuktaVaani', 'Mukta Vaani', sans-serif ;   
  }


  .text-special-small {
    font-size: 30px;        
    font-weight: 700;          
    color: #6FFFE9;           
    margin-bottom: 0 ;  
    font-family:'MuktaVaani', 'Mukta Vaani', sans-serif ;   
  }
  @media (min-width: 768px) {
    .heading {
      font-size: 3rem;         /* Tailwind text-5xl */
    }
  }

  .text-normal {
  font-size: 2.25rem; 
  font-weight: 800; 
  color: white; 
  margin-bottom: 0 ; 
  font-family: 'MuktaVaani', 'Mukta Vaani', sans-serif;
}

@media (min-width: 768px) {
  .text-custom {
    font-size: 3rem; /* 5xl equivalent in Tailwind */
  }
}

  .button{
    background-color: #6FFFE9;
    transition: button-hover ;
    font-weight: bold;
    border-radius: 30px;
    color: #1a202c;
    padding: 12px 50px;
  }

  .button-hover{
    background-color: #38b2ac;
  }